body{
    background: transparent url(./img/FondoTwitch.png);

}

.login{
    position: absolute;
    margin-top: -40px;
    margin-left: 90%;
    width: 50%;
}

.login p{
    position: absolute;
    top: -31px;
    left: 40px;
    font-size: 30px;
    font-family: Arial;
}

.Prime{
    margin-top: 100px;
   text-align: center;
}

.text{
    margin-top: -40px ;
    font-size: 60px;
    font-family: Arial;

}

.text1{
font-size: 25px;
}

.Group{
    position: relative;
    left: 43%;
    top: 20px;
}

.text2{
    position: relative;
    left: 43.8%;
    top: -62px;
    font-size: 25px;
    font-family: Arial;
}

.text_Rectangle{
    position: relative;
    top: -510px;
    left: 21%;
    font-size: 60px;
    font-family: Arial;
    color: white;
}

.television{
    position:absolute;
    left: 45%;
    margin-top: -550px;
}

.text_downtelevision{
    position:absolute;
    top: 120%;
    left: 15%;
    font-family: Arial;
    font-size: 180%;
    color: white
}

.text_Rectangle_2{
 position: absolute;
 left:10%;
 margin-top: -28%;
 font-family: Arial;
 font-size: 55px;
 color: white;
}

.pelis{
    position: relative;
    left:27%;
    margin-top: -22.5%;

}

.text_pelis{
    position: relative;
    left:7%;
    margin-top: 4%;
    font-family: Arial;
    font-size: 30px;
    color: white;
}

.text_cancel{
    position: relative;
    left:33%;
    margin-top:-26% ;
    font-family: Arial;
    font-size:45px;
    color: white;
}

.cancel{
    position: relative;
    left: 42%;
}

.text_cancel_2{
    position: relative;
    left: 12%;
    margin-top: 2%;
    font-size:40px ;
    color: white;
}

.devices{
    position: relative;
    left: 26%;
    margin-top: 15%;
    font-size: 90px;
    font-family: Arial;
}

.range_devices{
    position: relative;
    margin-top: -3;
    font-size: 45px;
    font-family: Arial;
    text-align:center;
}

.systems{
    position: relative;
    left: 26%;
}

.flecha_izquierda{
    position: relative;
    left: 20%;
    top: 150px;
}

.flecha_derecha{
    position: relative;
    left:75%;
    top: 150px;
    rotate:calc(185deg);
}