html, body{
    background-color: rgb(24, 23, 23);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.First_bottoms{
    position: relative;
    left: 80%;
    font-family: Arial;
    font-size: 20px;
}

.First_bottoms a{
    text-decoration: none;
    color: white;
}

a.First_bottoms a:hover{
    text-decoration: underline;
}

.logo{
    position: absolute;
    color: white;
    left: 15%;
    top: 0%;
    font-family: Arial;
}


.Start{
    position: relative;
    text-align: center;
    top: 180px;
    color: white;
    font-size: 90px;
}

.img3{
    position: absolute;
    top: 40%;
    left: 39%;
}

.With{
    position: absolute;
    color: white;
    left: 28%;
    top: 78%;
    font-size: 90px;
}

.ButtomShop{
    position: relative;
    background-color: #b58b39;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 47%;
    margin-top: 38%;
    font-size: 20px;
    padding: 10px;
    font-family: Arial;
}

.img5{
    position: relative;
    left: -10%;
    top:1000px;
}

.TextImg5{
    position: absolute;
    top: 150%;
    text-align: start;
    margin-left: 60%;
    font-size: 45px;
    color: white;
    max-width: 700px;
}

.Lorem{
    position: relative;
    font-size: 25px;
    font-family: Arial;
    margin-top: -40px;
}

.Learm{
    background-color: #b58b39 ;
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    padding: 15px;
    color: black;
}

hr{
    position: relative;
    top: -120px;
    max-width: 160px;
    left: -480px;
}

.img2{
    position: relative;
    top: 1600px;
    left: 5%;
}

.TextImg2{
    position: relative;
    color: white;
    top: 1100px;
    font-size: 80px;
    display: block;
    max-width: 40%;
    left: 10%;
}

.Lorem1{
    font-size: 20px;
}

.Learm1{
    background-color: #b58b39 ;
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    padding: 15px;
    color: black;
}

.Products{
    position: relative;
    color:white;
    top: 1400px;
    font-size: 110px;
    margin-left: 60px;
}

.content{
    position: relative;
    width: 400px;
    height: 500px;
    left: 8%;
    top: 1500px;
    background-color: black;
    border-radius: 2%;
    border: 3px solid rgb(223, 153, 49);
}

.img_content{
    position: absolute;
    top: -70px;
    left: 32%;
}

.TextContent h1{
    position: relative;
    top: -88px;
    font-size: 30px;
}

.TextContent{
    position: relative;
    top: 46%;
    left: 34%;
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.content1{
    position: relative;
    width: 400px;
    height: 500px;
    left: 40%;
    top: 1000px;
    background-color: black;
    border-radius: 2%;
    border: 3px solid rgb(223, 153, 49);
}

.img_content1{
    position: absolute;
    top: -70px;
    left: 33%;
}

.content1 h1{
    position: relative;
    top: -80px;
    color: white;
    font-size: 30px;
}

.TextContent1{
    position: relative;
    top: 44%;
    left: 36%;
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.content2{
    position: relative;
    width: 400px;
    height: 500px;
    top: 500px;
    left: 71.5%;
    background-color: black;
    border-radius: 2%;
    border: 3px solid rgb(223, 153, 49);
}

.img_content2{
    position: absolute;
    top: -70px;
    left: 33%;
}

.content2 h1{
    position: relative;
    top: -80px;
    color: white;
    font-size: 30px;
}

.TextContent2{
    position: relative;
    top: 44%;
    left: 36%;
    color: white;
    font-size: 25px;
    font-family: Arial;
}

.hr1{
    max-width: 700px;
    margin-top: 800px;
    left: -0px;
}

.Final_titles p{
    position: relative;
    left: 550px;
    text-align: center;
    display: inline;
    font-size: 50px;
    font-family: Arial;
}

.Final_titles a{
    text-decoration: none;
    color: #b58b39;
}

.About_Us{
    position: relative;
    left: -20%;
    color: white;
}

.Contact_Us{
    position: relative;
    top: -145px;
    left: 200px;
    color: white;
}

.Opening_Hourse{
    position: relative;
    left: 700px;
    top: -289.5px;
    color: white;
}

.About_Us p1{
    position: relative;
    color: white;
    font-size: 25px;
    display: block;
    left: 480px;
    max-width: 20%;
    top: 30px;
    text-align: center;
}

.Contact_Us p2{
    position: relative;
    color: white;
    font-size: 25px;
    display: block;
    left: 480px;
    max-width: 20%;
    top: 30px;
    text-align: center;
}

.Opening_Hourse p3{
    position: relative;
    color: white;
    font-size: 25px;
    display: block;
    left: 580px;
    max-width: 20%;
    top: 30px;
    text-align: center;
}

.hr2{
    position: relative;
    max-width: 900px;
    left: -2%;
}

.Final{
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
}

.CL{
    text-decoration: none;
    color: #b58b39;
}